.border{   
    position: relative;
    background-color: #89d329; 
    color: #10384f;
}  
.contenedor{
    display: flex;    
    justify-content: space-around;  }
.titulo{
    padding-left: 1rem;
}
.titulo2{
    padding-left: 1rem;
    text-align: left;
}
.right{
    text-align: right;     
    padding-right: 1rem;     
    margin-bottom: 20px;}
.container{
    margin: auto;
    width: 100%;
    }
.table{
    width: 100%;
    color: #10384f;
    text-align: center;
    background-color: white;
}
.pie{
    color: white;
    text-align: center;
    background-color: #10384f;
}
.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #10384f;
}
.boton{
    background-color: grey;
    color: white;
}

.imagen-contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
}
.texto-encima{
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-decoration: inherit;
    text-transform: inherit;
}